<!DOCTYPE html>
<html>
<head>
  <title>RorCms</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="main">
  <div id="header">
    Header
  </div>
  <% if flash[:notice] %>
  <div id="flash_notice"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:error] %>
  <div id="flash_error"><%= flash[:error] %></div>
  <% end %>
  <div id="main_container">
    <div id="content">
        <%= yield %>
    </div>
    <%= render "admin/shared/menu" %>
  </div>
  <div id="footer">
    Footer
  </div>
</div>
</body>
</html>
